body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f8f9fa;
}

.navbar {
    background-color: #007bff !important;
    color: white;
}

    .navbar a {
        color: white !important;
    }

.footer {
    background-color: #343a40;
    color: white;
    padding: 1rem;
    text-align: center;
}
